* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

main {
    padding: 20px;
}

#intro {
    background-color: silver;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid black;
}

#intro img {
    width: 120px;
}

h2 {
    margin-bottom: 15px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.cards {
    background-color: white;
    border: 2px solid black;
    padding: 15px;
    width: 31%;
    text-align: center;
    margin-bottom: 20px;
}

.cards img {
    width: 100%;
    height: 260px; 
    object-fit: contain;
    margin-bottom: 10px;
}


.cards h3 {
    font-size: 16px;
    margin-bottom: 8px;
}

.cards p {
    font-size: 13px;
    color: black;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 20px;
}